<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rekisteröidy</title>
    <link rel="stylesheet" type="text/css" href="/style.css">

</head>
<body>
    

<h1>Rekisteröidy</h1>
<form action="/register" method="POST">
<div>
    <label for="name">Nimi</label>
    <input class="registerinput" type="text" name="name" id="name" required>
</div>
<div>
    <label for="name">Sähköpostiosoite</label>
    <input class="registerinput" type="text" name="email" id="email" required>
</div>
<div>
    <label for="name">Salasana</label>
    <input class="registerinput" type="password" name="password" id="password" required>
</div>
<div>
    <button type="submit" id="registerbutton">Rekisteröidy</button>
</div>


</form>


</body>
</html>